@import "tailwindcss";

@media screen and (max-width: 768px) {
  .AesturaSection {
    margin-top: -55px;
  }
  .AesturaSection_item{
margin-top: -70px;
  }
  .category_banner{
    display: inline-block;
    width: 100%;
    vertical-align: bottom;
    min-height: 120px;
  }
}

h1,h2,h3,h4{
  color: rgb(51, 51, 51) !important;
}
.text-fiter-color{
  color: #A61C54;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


