@import "tailwindcss";

body{
  font-family: Inter, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@media screen and (max-width: 768px) {
  .AesturaSection {
    margin-top: -55px;
  }
  .AesturaSection_item{
margin-top: -70px;
  }
  .category_banner{
    display: inline-block;
    width: 100%;
    vertical-align: bottom;
    min-height: 120px;
  }
}

h1,h2,h3,h4{
  color: rgb(51, 51, 51) !important;
}
.text-fiter-color{
  color: #A61C54;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.shop-top-cat-swiper .swiper-pagination {
  position: relative !important;
  margin-top: 15px;
  text-align: center;
}

.shop-top-cat-swiper .swiper-pagination-bullet {
  background-color: #f9a8d4; /* light pink */
  opacity: 1;
  transition: all 0.3s ease;
}

.shop-top-cat-swiper .swiper-pagination-bullet-active {
  background-color: #ec4899; /* dark pink */
  transform: scale(1.3);
  box-shadow: 0 0 6px rgba(236, 72, 153, 0.6);
}


